<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="">
        <span class="input-group-text mx-0 px-0">Title</span>
        <input type="text" class="form-control border-secondary mb-2" name="title" placeholder="Title" aria-label="text">
        <span class="input-group-text mx-0 px-0">Post</span>
        <textarea class="form-control border-secondary mb-2" aria-label="With textarea" name="blog" style="height: 150px" placeholder="blog"></textarea>
        <button type="submit" class="btn btn-primary my-2">Publish</button>
    </div>
</form>

<%- include('partials/footer'); -%>